.container{
  height:200px;
  max-width:1000px;
  border:1px solid black;
  position:relative;
}
.slide-image{
  width:100%;
    vertical-allign:middle;
  display:none;
  animation-name:fade;
  animation-duretion:0.6s;
  
}
 #prev, #next{
  position:absolute;
  top:50%;
   background-color:transperent;
   border:none;
   font-size:18px;
   padding:16px;
     color:white;
   cursor:pointer;
   font-weight: bold;
   transition: 0.6s ease;
}
#next{
  right:0;
}

#prev:hover, #next:hover {
  background-color:black
}
.dot{
  display:inline-block;
  height:15px;
  width:15px;
  background-color:grey;
  border-radius:50%;
}

.active{
  background-color:black;
}

